<!DOCTYPE HTML>

<html>
	<head>
		<title>CityWeb</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,
			user-scalable=no" />
		<link rel="stylesheet" href="/src/assets/css/main.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon">
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="/">CityWeb</a></h1>
						<span>Tu ciudad en tu mano</span>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="/">Inicio</a></li>

							<li><a href="aparcamientos">Aparcamientos</a></li>
							<li><a href="sitiosinteres">Sitios de interés</a></li>
							<li>
								<a href="#">Comercios</a>
								<ul>
									<li><a href="#">Gestionar comercios</a></li>
									<li><a href="#">Consultar comercios</a></li>
								</ul>
							</li>

							<li>
								<a href="#">Perfil</a>
								<ul>
									<li><a href="/users/logout">Cerrar sesión</a></li>
									
								</ul>
							</li>
						</ul>
					</nav>

				</header>
			</div>

			<!-- Banner -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="col-7 col-12-medium">
							<h2>Bienvenido a CityWeb</h2>
							<p> Realice búsquedas de sitios de interés por ciudad, localice los
								comercios y las plazas de aparcamiento cercanos, valore la accesibilidad
								y ¡Mucho más!</p>
						</div>
						<div class="col-5 col-12-medium">
							<ul>
								<img src="/images/logo.png" width="300" height="300" alt="logo de
									CityWeb" style="margin-left: 25%;" />
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Features -->
			<div id="features-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-6 col-12-medium">

							<!-- Box -->
							<section class="box feature">
								<a href="/maps/lorca" class="image featured"><img src="/images/lorca.jpg"
										alt="Imagen de Lorca" height="304" /></a>
								<div class="inner">
									<header>
										<h2>Lorca</h2>
										<p>Región de Murcia</p>
									</header>
									<p>Lorca es un pueblo y municipio español perteneciente a la Región de
										Murcia. Es la tercera población en importancia de la
										Región de Murcia tras Murcia y Cartagena</p>
									<p>Lorca es conocida por <a
											href="https://es.wikipedia.org/wiki/Castillo_de_Lorca"
											title="Castillo de Lorca">su castillo</a>, su arquitectura barroca y
										<a href="https://es.wikipedia.org/wiki/Semana_Santa_en_Lorca"
											title="Semana Santa en Lorca">sus
											procesiones de Semana Santa</a>, declaradas fiesta
										de interés turístico internacional.
									</p>
								</div>
							</section>

						</div>
						<div class="col-6 col-12-medium">

							<!-- Box -->
							<section class="box feature">
								<a href="/maps/malaga" class="image featured"><img src="/images/malaga.jpg"
										height="304" alt="Imagen de Málaga" /></a>
								<div class="inner">
									<header>
										<h2>Málaga</h2>
										<p>Andalucía</p>
									</header>
									<p>Málaga es una ciudad y municipio de España, capital de la provincia
										homónima y ubicada en Andalucía, al sur del país.</p>
									<p>Málaga ha sido declarada <a
											href="https://es.wikipedia.org/wiki/Conjunto_hist%C3%B3rico_de_M%C3%A1laga"
											title="Conjunto
											histórico de Málaga">Conjunto Histórico</a>, por el conjunto de
										elementos históricos concentrados en el
										centro histórico de la ciudad
										destacando: <a
											href="https://es.wikipedia.org/wiki/Teatro_romano_de_M%C3%A1laga"
											title="Teatro
											romano de Málaga">Teatro Romano</a>, la <a
											href="https://es.wikipedia.org/wiki/Alcazaba"
											title="Alcazaba">Alcazaba</a>, la Catedral, entre otros.
									</div>
								</section>

							</div>


						</div>
					</div>
				</div>
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-6 col-12-medium">

								<!-- Box -->
								<section class="box feature">
									<a href="/maps/vitoria" class="image featured"><img src="/images/vitoria.jpg"
											alt="Vitoria-Gasteiz" height="304" /></a>
									<div class="inner">
										<header>
											<h2>Vitoria-Gasteiz</h2>
											<p>País Vasco</p>
										</header>
										<p>Vitoria,de forma oficial Vitoria-Gasteiz (en
											euskera Gasteiz), es una ciudad y municipio español, capital de la
											provincia de Álava y sede oficial del Parlamento y el Gobierno de la
											comunidad autónoma del País Vasco.A falta de un reconocimiento
											legal más explícito, se le considera capital de facto del País Vasco
											por ser sede de las instituciones comunes.</p>
										<p>National Geographic ha elegido Vitoria-Gasteiz uno
											de los 25 mejores destinos a los que viajar.</p>
									</div>
								</section>

							</div>
							<br />
							<br />

							<div class="col-6 col-12-medium">

								<!-- Box -->
								<section class="box feature">
									<a href="/maps/tenerife" class="image featured"><img src="/images/tenerife.jpg"
											alt="Sta Cruz Tenerife" height="304" /></a>
									<div class="inner">
										<header>
											<h2>Sta Cruz Tenerife</h2>
											<p>Islas Canarias</p>
										</header>
										<p>Santa Cruz de Tenerife es una ciudad y un municipio de España,
											capital de la provincia homónima, de la isla de Tenerife y de la
											comunidad autónoma de Canarias.</p>
										<p>La ciudad es conocida por su <a
												href="https://es.wikipedia.org/wiki/Carnaval_de_Santa_Cruz_de_Tenerife"
												title="Carnaval de
												Santa Cruz de Tenerife">carnaval</a> declarado Fiesta
											de Interés Turístico Internacional y considerado como uno de los
											más famosos del mundo. Además de por el <a
												href="https://es.wikipedia.org/wiki/Auditorio_de_Tenerife"
												title="Auditorio de Tenerife">Auditorio
												de Tenerife ,</a>
											las <a
												href="https://es.wikipedia.org/wiki/Torres_de_Santa_Cruz"
												title="Torres de Santa Cruz">Torres
												de Santa Cruz</a>,
											la <a
												href="https://es.wikipedia.org/wiki/Plaza_de_Espa%C3%B1a_(Santa_Cruz_de_Tenerife)"
												title="Plaza de España (Santa Cruz de Tenerife)">Plaza de España</a>,
											y el <a
												href="https://es.wikipedia.org/wiki/Parque_Garc%C3%ADa_Sanabria"
												title="Parque García
												Sanabria">Parque García Sanabria</a>.
										</p>
									</div>
								</section>

							</div>
						</div>

					</div>
				</div>

				

				<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						
							<div class="row">
								<div class="col-12">
									<div id="copyright">
										<ul class="menu">
											<li>&copy; Alejandro Buitrago - Guillermo Nuñez. Todos los derechos
												reservados</li>
										</ul>
									</div>
								</div>
							</div>
						</footer>
					</div>

				</div>

				<!-- Scripts -->

				<script src="/src/assets/js/jquery.min.js"></script>
				<script src="/src/assets/js/jquery.dropotron.min.js"></script>
				<script src="/src/assets/js/browser.min.js"></script>
				<script src="/src/assets/js/breakpoints.min.js"></script>
				<script src="/src/assets/js/util.js"></script>
				<script src="/src/assets/js/main.js"></script>

			</body>
		</html>