@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);  
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);  
figure.snip1157 {  
  font-family: 'Raleway', Arial, sans-serif;  
  position: relative;  
  overflow: hidden;  
  margin: 60px;  
  *min-width: 220px;  
  max-width: 310px;  
  width: 100%;  
  color: #333;  
  text-align: left;  
  box-shadow: none !important;  
}  
figure.snip1157 * {  
  -webkit-box-sizing: border-box;  
  box-sizing: border-box;  
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);  
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);  
} 

figure.snip1157 blockquote {  
    display: block;  
    border-radius: 8px;  
    position: relative;  
    background-color: #fafafa;  
    padding: 25px 50px 30px 50px;  
    font-size: 0.8em;  
    font-weight: 500;  
    margin: 0;  
    line-height: 1.6em;  
    font-style: italic;  
   }  
   figure.snip1157 blockquote:before,  
   figure.snip1157 blockquote:after {  
    font-family: 'FontAwesome';  
    content: "\201C";  
    position: absolute;  
    font-size: 50px;  
    opacity: 0.3;  
    font-style: normal;  
   }  
   figure.snip1157 blockquote:before {  
    top: 25px;  
    left: 20px;  
   }  
   figure.snip1157 blockquote:after {  
    content: "\201D";  
    right: 20px;  
    bottom: 0;  
   }  
   figure.snip1157 .arrow {  
    top: 100%;  
    width: 0;  
    height: 0;  
    border-left: 0 solid transparent;  
    border-right: 25px solid transparent;  
    border-top: 25px solid #fafafa;  
    margin: 0;  
    position: absolute;  
   }  
   figure.snip1157 .author {  
    position: absolute;  
    bottom: 45px;  
    padding: 50px 10px 0 120px;  
    margin: 0;  
    text-transform: uppercase;  
    color: #ffffff;  
    -webkit-transform: translateY(50%);  
    transform: translateY(50%);  
   }  
   figure.snip1157 .author h5 {  
    opacity: 0.8;  
    margin: 0;  
    font-weight: 800;  
   }  
   figure.snip1157 .author h5 span {  
    font-weight: 400;  
    text-transform: none;  
    padding-left: 5px;  
   }  

   /* From uiverse.io by @adamgiebl */
.crearOpinion button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   .crearOpinion button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .crearOpinion button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .crearOpinion button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .crearOpinion button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   .crearOpinion button:hover span {
    transform: translateX(5em);
   }
   
   .crearOpinion button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   #formCrearOpinion{
    background-color: aquamarine;
    padding: 20px;
    border: 5px;
    border-radius: 20px;
    border-color: cadetblue;
    /*margin: 10px; */ 
    /*min-width: 220px;  
    max-width: 310px;*/
    height: 65%;   
    width: 100%;  
    font-weight:bold;
    display:inline-grid;

   }

   textarea{
    width:100%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;			
    margin:8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize:none;
    display:block;
  }