<!DOCTYPE HTML>

<html>
	<head>
		<title>CityWeb</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,
			user-scalable=no" />
		<link rel="stylesheet" href="/src/assets/css/main.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="/">CityWeb</a></h1>
						<span>Tu ciudad en tu mano</span>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Inicio</a></li>

							<li><a href="#">Aparcamientos</a></li>
							<li><a href="sitiosinteres">Sitios de interés</a></li>
							<li class="current">
								<a  href="#">Comercios</a>
								<ul>
									<li><a href="#">Gestionar comercios</a></li>
									<li><a href="#">Consultar comercios</a></li>
								</ul>
							</li>

							<li>
								<a href="#">Perfil</a>
								<ul>
									<li><a href="/users/logout">Cerrar sesión</a></li>

								</ul>
							</li>
						</ul>
					</nav>

				</header>
			</div>

			<!-- Banner -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="col-7 col-12-medium">
							<h2> Comercios</p>
							<h3>Introduzca los datos de su comercio</p>
						</div>
						<div class="col-5 col-12-medium">
							<ul>
								<img src="/images/tienda.png" width="150" height="150" alt="logo de
									CityWeb" style="margin-left: 35%;" />
							</ul>
						</div>
					</div>
				</div>
			</div>

			<br> <br>
			<!-- Features -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="col-7 col-12-medium">

							<!-- Box -->
							<section class="box feature" style="width:100%">
								<form id="formulario-registrar-comercio" action=""
									method="POST" enctype="multipart/form-data"
									class="needs-validation form-perfil" novalidate>

									<div class="form-group row">
										<label style="padding-left: 0px;" for="nombre-registrar-comercio"
											class="col-sm-4">Nombre:</label>
										<input id="nombre-registrar-comercio" type="text" name="nombre"
											class="form-control col-sm-8" maxlength="40" required>
									</div>
									<div class="form-group row">
										<label style="padding-left: 0px;" for="descripcion-registrar-comercio"
											class="col-sm-4">Descripcion:</label>
										<textarea id="descripcion-registrar-comercio" name="descripcion"
											rows="3" required class="form-control col-sm-11 ml-auto" style="padding-left: 5px;padding-top: 5px;"></textarea>
									</div>
									<div class="row">
										<div class="container col-md-5">
											<div class="form-group row">
												<label style="padding-left: 0px;" for="tipo-registrar-comercio"
													class="col-sm-4">Tipo:</label>
												<input id="tipo-registrar-comercio" type="text" name="tipo"
													class="form-control col-sm-8" maxlength="40" required>
											</div>
											<div class="form-group row">

												<!-- display selected location information -->
												<label style="padding-left: 0px;" for="lat-comercio"
													class="col-sm-4">Latitud:</label>

												<input id="lat-comercio" type="text" class="search_latitude"
													size="30">

												<label style="padding-left: 0px;" for="long-comercio"
													class="col-sm-4">Longitud:</label>
												<input id="long-comercio" type="text" class="search_longitude"
													size="30">
													
											</div>

										</div>
										
										<!-- display google map -->
										<div class="form-group row" style="width:100%;height:400px;margin-top:30px">
											<div style="width:100%;height=200px;overflow: initial;" id="map"></div>
										</div>
									</div>
									<div class="form-group">
										<br> <br> 
										<button id="btn-register" type="button" class="btn
											btn-success btn-block">Registrar Comercio</button>
									</div>
								</form>



							</section>


						</div>

					</div>
				</div>

			</div>

			<!-- Footer -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">

					<div class="row">
						<div class="col-12">
							<div id="copyright">
								<ul class="menu">
									<li>&copy; Alejandro Buitrago - Guillermo Nuñez. Todos los derechos
										reservados</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>

		</div>

		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo6BSiPHlxWfnP_blL9MbHwBxXsoAhEMI&callback=initMap&v=weekly"
			defer></script>

		<!-- Scripts -->

		<script src="/src/assets/js/jquery.min.js"></script>
		<script src="/src/assets/js/jquery.dropotron.min.js"></script>
		<script src="/src/assets/js/browser.min.js"></script>
		<script src="/src/assets/js/breakpoints.min.js"></script>
		<script src="/src/assets/js/util.js"></script>
		<script src="/src/assets/js/main.js"></script>
		<script src="/src/assets/js/comercios.js"></script>

		<script>
// Initialize and add the map
async function initMap() {
  // The location of Uluru
  let uluru = {lat: 36.735053, lng: -4.609028};
  // The map, centered at Uluru
  let map = new google.maps.Map(document.getElementById("map"), {
    zoom: 13,
    center: uluru,

  });

        //Se añade el marker
       var marker1 = new google.maps.Marker({
          position: {lat: 36.735053, lng: -4.609028}, 
          map: map,
		  draggable: true
        });

  google.maps.event.addListener(marker1, 'dragend', function() {

	$("#lat-comercio").val(marker1.getPosition().lat())
	$("#long-comercio").val(marker1.getPosition().lng())
	  
  //alert('Latitud = '+marker1.getPosition().lat()+ ', Longitud = '+marker1.getPosition().lng());
});
}

  window.initMap = initMap;
</script>
	</body>
</html>