<!DOCTYPE HTML>

<html>
	<head>
		<title>CityWeb</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,
			user-scalable=no" />
		<link rel="stylesheet" href="/src/assets/css/main.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon">
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="index.html">CityWeb</a></h1>
						<span>Tu ciudad en tu mano</span>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">Inicio</a></li>

							<li><a href="left-sidebar.html">Aparcamientos</a></li>
							<li><a href="right-sidebar.html">Sitios de interés</a></li>
							<li><a href="no-sidebar.html">Valoraciones</a></li>

							<li>
								<a href="#">Perfil</a>
								<ul>
									<li><a href="#">Cerrar sesión</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li>
										<a href="#">Phasellus consequat</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Phasellus consequat</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</nav>

				</header>
			</div>

            <!-- MAIN -->
            <div id="main-wrapper">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25262.6071846994!2d-1.7119889493518097!3d37.67679855573595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd64e6382d7cb5e1%3A0xc8867e729b04ca6a!2s30800%20Lorca%2C%20Murcia!5e0!3m2!1ses!2ses!4v1650326782195!5m2!1ses!2ses" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </body>
</html>