<!DOCTYPE HTML>

<html>
	<head>
		<title>CityWeb</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,
			user-scalable=no" />
		<link rel="stylesheet" href="/src/assets/css/main.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../stylesheets/css/map.css">
		<link rel="stylesheet" href="/src/assets/css/button.css">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script type="module" src="../javascripts/maps.js"></script>
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="/">CityWeb</a></h1>
						<span>Tu ciudad en tu mano</span>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="/">Inicio</a></li>

							<li><a href="/aparcamientos">Aparcamientos</a></li>
							<li><a href="/sitiosinteres">Sitios de interés</a></li>
							<li><a href="no-sidebar.html">Valoraciones</a></li>

							<li>
								<a href="#">Perfil</a>
								<ul>
									<li><a href="/users/logout">Cerrar sesión</a></li>
									
								</ul>
							</li>
						</ul>
					</nav>

				</header>
			</div>

            <!-- MAIN -->
            <div id="main-wrapper">
                <div id="map">
					
                </div>
            </div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						
							<div class="row">
								<div class="col-12">
									<div id="copyright">
										<ul class="menu">
											<li>&copy; Alejandro Buitrago - Guillermo Nuñez. Todos los derechos
												reservados</li>
										</ul>
									</div>
								</div>
							</div>
						</footer>
					</div>

				</div>
        </div>
		<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo6BSiPHlxWfnP_blL9MbHwBxXsoAhEMI&callback=initMap&v=weekly"
      defer
    ></script>
    </body>
</html>